#pragma code_page(65001)
#include <Windows.h>
#include "resource.h"

IDI_HLAUNCH ICON "@PROJECT_SOURCE_DIR@/resources/branding/hlaunch-logo.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@,0
 PRODUCTVERSION @PROJECT_VERSION_MAJOR@,@PROJECT_VERSION_MINOR@,@PROJECT_VERSION_PATCH@,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "HLaunch\0"
            VALUE "FileDescription", "HLaunch 轻量级 Windows 启动器\0"
            VALUE "FileVersion", "@PROJECT_VERSION@\0"
            VALUE "InternalName", "HLaunch\0"
            VALUE "OriginalFilename", "HLaunch.exe\0"
            VALUE "ProductName", "HLaunch\0"
            VALUE "ProductVersion", "@PROJECT_VERSION@\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
